.itemDetail {
  width: 400px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid gray;
  border-radius: 12px;
  background-color: var(--color-card);
}

.itemDetail .itemDetailName {
  text-transform: uppercase;
  font-size: 4rem;
  padding: 8px;
  text-align: center;
}

.itemDetail figure {
  height: 200px;
}

.itemDetail figure img {
  height: 100%;
  border-radius: 6px;
}

.itemDetail .itemDetailPrice {
  font-size: 4rem;
  font-weight: 700;
}
.itemDetail .itemDetailCategory {
  font-size: 3rem;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  .itemDetail {
    width: 300px;
  }

  .itemDetail .itemDetailName {
    font-size: 3.4rem;
    padding: 4px;
  }

  .itemDetail figure {
    height: 180px;
  }

  .itemDetail .itemDetailPrice {
    font-size: 3.4rem;
  }

  .itemDetail .itemDetailCategory {
    font-size: 2.4rem;
  }
}
