.itemDetail {
  width: 400px;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid gray;
  border-radius: 12px;
  background-color: var(--color-card);
}

.itemDetail .itemDetailName {
  text-transform: uppercase;
  font-size: 4rem;
  padding: 8px;
  text-align: center;
}

.itemDetail figure {
  height: 200px;
}

.itemDetail figure img {
  height: 100%;
  border-radius: 6px;
}

.itemDetail .itemDetailPrice {
  font-size: 4rem;
  font-weight: 700;
}
.itemDetail .itemDetailCategory {
  font-size: 3rem;
  text-transform: capitalize;
}

.onBack {
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.6rem;
}
