nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-gold);
}
h2 {
  font-size: 3rem;
  color: black;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 0 18px;
  font-size: 2.6rem;
  transition: all 0.2s ease-in-out;
}

ul li:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
}

ul li a {
  color: black;
  text-transform: capitalize;
}

.active {
  font-weight: bold;
}
