nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 20px;
  background-color: var(--color-gold);
}

nav h2 {
  font-size: 3rem;
  color: black;
}

.navbarOptions {
  display: flex;
  justify-content: center;
}

.navbarOptions li {
  list-style: none;
  font-size: 2.6rem;
  margin: 0 1px;
}

.navbarOptions li a {
  color: black;
  text-transform: capitalize;
  padding: 4px 12px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.navbarOptions li a:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
  background-color: var(--color-card);
}

.active {
  font-weight: bold;
  background-color: var(--color-card);
}

@media (max-width: 600px) {
  nav {
    padding: 12px;
  }

  nav h2 {
    font-size: 2.4rem;
  }
  .navbarOptions li a {
    padding: 2px 6px;
  }
  .navbarOptions li {
    font-size: 1.8rem;
  }
}
