nav {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 20px;
  background-color: var(--color-gold);
}
h2 {
  font-size: 3rem;
  color: black;
}

.navbarOptions {
  display: flex;
  justify-content: center;
}

.navbarOptions li {
  list-style: none;
  padding: 0px 18∫px;
  font-size: 2.6rem;
  margin: 0 1px;
}

.navbarOptions li a {
  color: black;
  text-transform: capitalize;
  padding: 4px 12px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.navbarOptions li a:hover {
  cursor: pointer;
  transform: scale(1.1);
  font-weight: bold;
  background-color: var(--color-card);
}

.active {
  font-weight: bold;
  background-color: var(--color-card);
}
