nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: steelblue;
}
h2 {
  font-size: 2.4rem;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  padding: 0 12px;
  font-weight: bold;
  font-size: 1.8rem;
}

ul li:hover {
  cursor: pointer;
  color: azure;
}
