.cartItemRow {
  padding: 20px;
  display: flex;
  height: 300px;
  border-bottom: 2px solid gray;
}

.cartItemRow figure {
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItemRow figure img {
  height: 90%;
}

.cartItemRow div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cartItemRow .cartItemRow-name {
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0 20px;
}
.cartItemRow .cartItemRow-info {
  color: gray;
  font-size: 2.2rem;
  padding: 6px 0;
}

.btnDelete {
  width: 75px;
  border-radius: 10px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .cartItemRow {
    padding: 10px;
  }

  .cartItemRow figure {
    min-width: 140px;
  }

  .cartItemRow figure img {
    height: 150px;
  }

  .cartItemRow .cartItemRow-info {
    font-size: 1.8rem;
  }

  .cartItemRow div {
    justify-content: center;
    padding-left: 20px;
  }
}

@media (max-width: 440px) {
  .cartItemRow .cartItemRow-name {
    font-size: 1.8rem;
  }

  .cartItemRow .cartItemRow-info {
    font-size: 1.6rem;
  }
}
