footer {
  background-color: var(--color-lightgold);
  min-width: 360px;
  padding: 10px 16px;
  margin-top: 80px;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

footer .footer-bottom p {
  font-size: 1.6rem;
  opacity: 0.8;
  font-weight: bold;
}

@media (max-width: 600px) {
  footer .footer-bottom p {
    font-size: 1.2rem;
  }
}
