* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans Condensed", sans-serif;
}
:root {
  --color-gold: #ffd700;
  --color-card: #fffdf4;
  --color-lightgold: #ffeb7c;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 360px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.onBack {
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.6rem;
  color: black;
}

.btnConfirm {
  background-color: rgb(21, 147, 2);
  border: 1px solid transparent;
  padding: 8px;
  font-size: 2rem;
  color: #ffffff;
}

/* cart */
.btnDecline {
  background-color: rgb(220, 0, 0);
  border: 1px solid transparent;
  padding: 8px;
  font-size: 2rem;
  color: #ffffff;
}

.btnConfirm:hover,
.btnDecline:hover {
  border: 1px solid #ffffff;
}
