* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans Condensed", sans-serif;
}
:root {
  --color-gold: #ffd700;
  --color-card: #fff0a0;
}

html {
  font-size: 62.5%;
  background-color: #fff4c2;
}

body {
  min-width: 360px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
