.itemCount-container {
  background-color: #fff0a0;
  padding: 8px;
  border-radius: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemCount-container div {
  margin: 4px 0;
}

.itemCount-container .itemCount-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemCount-container .itemCount-btn button {
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  border-radius: 20px;
  font-size: 3rem;
}

.itemCount-container .itemCount-btn span {
  font-size: 3rem;
  text-align: center;
  padding: 0 10px;
  font-weight: 700;
}
